.section-light {
	background-color: #f6f6f6;
}

.section-gap {
	padding: 30px 0;
}

.button-link {
	color: var(--bs-blue);
	font-weight: 600;
}

.button-link:hover {
	color: #3180fc;
	text-decoration: underline;
}

.button-theme {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: middle;
	color: var(--bs-white) !important;
	border: 1px solid transparent;
	border-radius: 4px;
	gap: 5px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1.075em;
	padding: 8px 18px;
}

.button-theme:before {
	content: '';
	display: block;
	width: 200%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -200%;
	z-index: 1;
	background: -o-linear-gradient(left, transparent, rgba(255, 255, 255, .3), transparent);
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, .3)), to(transparent));
	background: linear-gradient(to right, transparent, rgba(255, 255, 255, .3), transparent);
	-webkit-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
	-webkit-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}

.button-theme:hover::before {
	-webkit-animation: animationShine 1.2s ease;
	animation: animationShine 1.2s ease;
}

@-webkit-keyframes animationShine {
	100% {
		left: 200%;
	}
}

@keyframes animationShine {
	100% {
		left: 200%;
	}
}

.button-theme.button-theme_primary {
	border-color: var(--primary-color);
	background-color: var(--primary-color);
}

.button-theme.button-theme_secondary {
	border-color: var(--secondary-color);
	background-color: var(--secondary-color);
}

.button-theme.button-theme_large {
	font-size: 1.225em;
	padding: 12px 25px;
}

.button-theme.button-theme_small {
	font-size: 0.925em;
	padding: 4px 14px;
	font-weight: 400;
}

.section-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	margin-bottom: 20px;
}

.section-heading .section-heading_title {
	font-size: 1.3em;
	font-weight: 700;
	color: var(--bs-dark);
	text-transform: uppercase;
}

.section-heading .section-heading_link > a {
	font-size: 0.85em;
	color: #9ba1a8;
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 500;
}

.section-heading .section-heading_link > a > i {
	font-size: 1.9em;
}

.section-heading .section-heading_link > a:hover {
	color: var(--primary-color);
}

.header {
	background-color: var(--primary-color);
}

.header-top .header-links .header-links_item {
	position: relative;
}

.header-top .header-links .header-links_item > a {
	color: var(--bs-white);
	font-size: 0.925em;
	padding: 10px 0;
}

.header-top .header-links .header-links_item > a:hover {
	opacity: .8;
}

.header-top .header-links:not(.header-links_right) .header-links_item + .header-links_item {
	margin-left: 8px;
}

.header-top .header-links:not(.header-links_right) .header-links_item + .header-links_item:before {
	content: "|";
	margin-right: 8px;
	font-size: 0.775em;
	color: #f3f3f3;
	opacity: .5;
}

.header-top .header-links.header-links_right .header-links_item + .header-links_item {
	margin-left: 24px;
}

.header-top .header-links .header-links_item .header-links_social {
	margin-left: 8px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.header-top .header-links .header-links_item .header-links_social > a {
	color: var(--bs-white);
}

.header-top .header-links .header-links_item .header-links_social > a:hover {
	opacity: .8;
}

.header-top .header-links .header-language .header-language_btn {
	display: flex;
	align-items: center;
	color: var(--bs-white);
}

.header-top .header-links .header-language .header-language_btn .header-language_btn__image {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: var(--bs-gray-100);
	box-shadow: rgba(var(--bs-black-rgb), 0.05) 0 0 0 1px;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-top .header-links .header-language .header-language_btn:hover {
	opacity: .8;
}

.header-top .header-links .header-language .header-language_btn:hover > i {
	transform: rotate(180deg);
}

.header-top .header-links .header-language .header-language_list {
	background-color: var(--bs-white);
	min-width: 175px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	border-radius: 8px;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	pointer-events: none;
	top: 100%;
	right: 15px;
	z-index: 2;
}

.header-top .header-links .header-language:hover .header-language_list {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	top: 100%;
	right: 0;
}

.header-top .header-links .header-language .header-language_list .language-item {
	padding: 8px 15px;
	color: var(--bs-dark);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
}

.header-top .header-links .header-language .header-language_list .language-item img {
	height: 24px;
	width: 24px;
	padding: 2px;
	background-color: #fff;
	border-radius: 50px;
}

.header-top .header-links .header-language .header-language_list .language-item:hover {
	background: #f4f4f4;
}

.header-top .header-links .header-language .header-language_list .language-item.language-item_active {
	color: var(--primary-color);
	background: #f4f4f4;
	font-weight: 500;
}

.header-main {
	padding: 5px 0 10px;
}

.header-main .header-logo img {
	height: 50px;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.header-main .header-search .header-search_inner {
	position: relative;
}

.header-main .header-search .header-search_inner .form-control {
	border: 0;
	width: 100%;
	border-radius: 4px;
	font-size: 1.075em;
	min-height: 40px;
	padding: 10px 70px 10px 15px;
}

.header-main .header-search .header-search_inner .form-control::placeholder {
	opacity: .8;
}

.header-main .header-search .header-search_inner .button-theme {
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	border-radius: 4px;
	padding-left: 16px;
	padding-right: 16px;
}

.header-main .header-search .header-search_hint a {
	margin-right: 7px;
	margin-top: 6px;
	display: inline-flex;
	color: rgba(var(--bs-white-rgb), .8);
	font-size: 0.925em;
	font-weight: 500;
}

.header-main .header-search .header-search_hint a:hover {
	color: var(--bs-white);
}

.header-main .header-actions .header-users .header-user_item {
	display: flex;
	align-items: center;
	position: relative;
}

.header-main .header-actions .header-users .header-user_item .link-default {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--bs-white);
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	gap: 6px;
	white-space: nowrap;
}

.header-main .header-actions .header-users .header-user_item .link-default:hover {
	opacity: .8;
}

.header-main .header-actions .header-users .header-user_item .link-default > i {
	font-size: 1.15em;
	position: relative;
	top: -1px;
}

.header-main .header-actions .header-users .header-user_item + .header-user_item {
	margin-left: 12px;
	padding-left: 12px;
}

.header-main .header-actions .header-users .header-user_item + .header-user_item:before {
	content: "/";
	font-size: 1.15em;
	color: #f3f3f3;
	opacity: .4;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -6px;
}

.header-main .header-actions .header-users .header-user_item .user-dropdown {
	position: relative;
}

.header-main .header-actions .header-users .header-user_item .user-dropdown > ul {
	position: absolute;
	background-color: var(--bs-white);
	min-width: 200px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	border-radius: 8px;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	pointer-events: none;
	top: calc(100% + 10px);
	right: 15px;
	z-index: 2;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
}

.header-main .header-actions .header-users .header-user_item .user-dropdown > ul:before {
	position: absolute;
	content: "";
	display: block;
	top: -10px;
	background-color: var(--bs-white);
	left: 0;
	width: 100%;
	height: 10px;
}

.header-main .header-actions .header-users .header-user_item:hover .user-dropdown > ul {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	top: calc(100% + 10px);
	right: 0;
}

.header-main .header-actions .header-users .header-user_item .user-dropdown > ul > li > a {
	padding: 12px 15px;
	color: var(--bs-dark);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
	font-size: 1.075em;
}

.header-main .header-actions .header-users .header-user_item .user-dropdown > ul > li > a > i {
	width: 16px;
	font-size: 1.075em;
}

.header-main .header-actions .header-users .header-user_item .user-dropdown > ul > li > a:hover {
	background: #f4f4f4;
	color: var(--primary-color);
}

.hero-slider {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
	border-radius: 4px;
	overflow: hidden;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0;
}

.hero-slider [class*=slider-button] {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.6em;
	box-shadow: 0 1px 8px 0 rgba(var(--bs-black-rgb), .09);
	color: var(--bs-white);
	background-color: rgba(var(--bs-black-rgb), .18);
	transition: var(--transition-default);
	z-index: 2;
	width: 35px;
	height: 60px;
	opacity: 0;
}

.hero-slider .slider-button_next {
	right: -5px;
}

.hero-slider .slider-button_prev {
	left: -5px;
}

.hero-slider:hover [class*=slider-button] {
	opacity: 1;
}

.hero-slider [class*=slider-button]:hover {
	background-color: rgba(var(--bs-black-rgb), .48);
}

.hero-slider .slider-pagination {
	position: absolute;
	bottom: 15px;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.hero-slider .slider-pagination .swiper-pagination-bullet {
	margin: 0;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	border: 1px solid rgba(137, 137, 137, 0.4);
	background-color: rgba(var(--bs-white-rgb), 0.4);
	opacity: 1;
	transition: var(--transition-default);
}

.hero-slider .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: var(--primary-color);
}

.hero-thumb {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.hero-thumb .hero-thumb_item {
	border-radius: 4px;
}

.featured-card {
	padding: 18px;
	gap: 18px;
	border-radius: 12px;
	border: 1px solid var(--bs-gray-200);
}

.featured-card .featured-list {
	gap: 18px;
}

.featured-card .featured-list .featured-item {
	width: calc(33.33333% - 12px);
}

.featured-card .featured-list .featured-item .featured-item_avatar {
	width: 60px;
	height: 60px;
	background-color: var(--bs-gray-100);
	box-shadow: rgba(var(--bs-black-rgb), 0.05) 0 0 0 1px;
	border-radius: 15px;
}

.featured-card .featured-list .featured-item .featured-item_content {
	margin-left: 12px;
}

.featured-card .featured-list .featured-item .featured-item_title {
	font-size: 1em;
	color: var(--bs-dark);
	line-height: 1.3;
	font-weight: 600;
	transition: var(--transition-default);
}

.featured-card .featured-list .featured-item .featured-item_text {
	font-size: .85em;
	color: #9ba1a8;
	margin-top: 2px;
}

.featured-card .featured-list .featured-item:hover .featured-item_avatar > img {
	transform: scale(1.05);
}

.featured-card .featured-list .featured-item:hover .featured-item_title {
	color: var(--primary-color);
}

.learning-card .card-image {
	border-radius: 5px;
}

.learning-card .card-title {
	margin-top: 10px;
	font-size: 1em;
	color: var(--bs-dark);
	line-height: 1.3;
	font-weight: 600;
	transition: var(--transition-default);
	margin-bottom: 5px;
}

.learning-card .card-price .price-current {
	font-weight: 600;
	color: var(--bs-black);
}

.learning-card .card-price .price-cost {
	text-decoration: line-through;
	font-weight: 500;
	color: #9ba1a8;
}

.learning-card .card-price .price-percent {
	font-weight: 500;
	color: var(--bs-white);
	border-radius: 5px;
	background: var(--bs-danger);
	font-size: .85em;
	padding: 2px 6px;
}

.learning-card:hover .card-image img {
	transform: scale(1.05);
}

.learning-card:hover .card-title {
	color: var(--primary-color);
}

.learning-card.learning-card_ofs .card-image img {
	opacity: .5;
}

.learning-card.learning-card_ofs .card-ofs {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	pointer-events: none;
	font-weight: 500;
	color: var(--bs-white);
	border-radius: 5px;
	background: var(--bs-dark);
	font-size: .925em;
	padding: 4px 10px;
}

.game-card .card-image {
	border-radius: 12px;
	background-color: var(--bs-gray-100);
	box-shadow: rgba(var(--bs-black-rgb), 0.05) 0 0 0 1px;
}

.game-card .card-title {
	margin-top: 10px;
	font-size: 1em;
	color: var(--bs-dark);
	line-height: 1.3;
	font-weight: 600;
	transition: var(--transition-default);
	margin-bottom: 5px;
}

.game-card .card-meta {
	font-size: .85em;
	color: #9ba1a8;
	display: flex;
	align-items: center;
}

.game-card .card-meta .card-meta_item {
	position: relative;
	--line: 1;
}

.game-card .card-meta .card-meta_item + .card-meta_item {
	margin-left: 3px;
	padding-left: 7px;
}

.game-card .card-meta .card-meta_item + .card-meta_item:before {
	content: "/";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.game-card:hover .card-image img {
	transform: scale(1.05);
}

.game-card:hover .card-title {
	color: var(--primary-color);
}

.topup-card .card-image {
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, .1) 0 0 0.5em, rgba(0, 0, 0, .05) 0 0 0 1px;
}

.topup-card .card-image:after {
	background: rgba(255, 255, 255, 0.15) repeat center center;
	border-radius: 0;
	content: "";
	display: block;
	height: 0;
	left: -50%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 48%;
	transform: rotate(45deg);
	transition: all 0.65s ease 0s;
	width: 200%;
	z-index: 1;
}

.topup-card .card-title {
	font-size: 1.075em;
	color: #232323;
	margin-bottom: 0;
	padding-top: 8px;
}

.topup-card:hover .card-image {
	box-shadow: rgba(0, 0, 0, .35) 0 0 0.5em, rgba(0, 0, 0, .25) 0 0 0 1px;
}

.topup-card:hover .card-title {
	color: var(--primary-hover);
}

.topup-card:hover .card-image img {
	transform: scale(1.1);
}

.topup-card:hover .card-image::after {
	height: 400%;
	left: -60%;
	top: -100%;
	transform: rotate(45deg);
	transition: all 0.65s ease 0s;
	width: 200%;
}

.document-card {
	border: 1px solid var(--bs-gray-200);
	height: 100%;
	transition: var(--transition-default);
}

.document-card:hover {
	transform: translateY(-3px);
	border-color: var(--primary-color);
}

.document-card .card-header {
	padding: 10px !important;
	position: relative;
}

.document-card .card-header .card-image {
	position: relative;
	overflow: hidden;
	border-radius: 5px !important;
}

.document-card .card-header .card-image:before {
	display: block;
	content: "";
	padding-top: calc(1 / 1 * 100%);
}

.document-card .card-header .card-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.document-card .card-header .stretched-link:after {
	z-index: 3;
}

.document-card .card-header .card-percent {
	font-weight: 500;
	color: var(--bs-white);
	border-radius: 5px;
	background: var(--bs-danger);
	font-size: .85em;
	padding: 2px 6px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2;
	display: inline-flex;
}

.document-card .card-type {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.6em;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
}

.document-card .card-type.card-type_word {
	color: #0C67C2;
}

.document-card .card-type.card-type_pdf {
	color: #C1401E;
}

.document-card .card-type.card-type_excel {
	color: #016E38;
}

.document-card .card-body {
	padding: 10px;
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
}

.document-card .card-body .card-category {
	margin-bottom: 5px;
}

.document-card .card-body .card-category > a {
	font-size: .9em;
	color: #9ba1a8;
	transition: var(--transition-default);
}

.document-card .card-body .card-category > a:hover {
	color: #323232;
}

.document-card .card-body .card-title {
	margin-bottom: 8px;
}

.document-card .card-body .card-title > a {
	color: #121212;
	font-weight: 500;
	font-size: 1.125em;
	line-height: 20px;
}

.document-card .card-body .card-title > a:hover {
	color: var(--primary-color);
}

.document-card .card-body .card-price {
	margin-bottom: 8px;
}

.document-card .card-body .card-price .price-current {
	font-weight: 600;
	color: var(--bs-danger);
}

.document-card .card-body .card-price .price-cost {
	text-decoration: line-through;
	font-weight: 500;
	color: #9ba1a8;
}

.document-card .card-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .925em;
	margin-top: auto;
}

.document-card .card-meta .card-meta_item {
	flex-shrink: 0;
	text-align: right;
	color: #9ba1a8;
	display: flex;
	align-items: center;
	gap: 6px;
}

.document-card .card-meta .card-meta_item > i {
	font-size: 1.075em;
}

.product-card .card-image {
	border-radius: 4px;
	padding: 4px;
	background-color: var(--bs-white);
	-webkit-box-shadow: 0 0 0.75em 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0.75em 0 rgba(0, 0, 0, 0.25);
}

.product-card .card-image .card-percent {
	font-weight: 500;
	color: var(--bs-white);
	border-radius: 5px;
	background: var(--bs-danger);
	font-size: .85em;
	padding: 2px 6px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2;
	display: inline-flex;
}

.product-card .card-image img {
	border-radius: 4px;
}

.product-card .card-title {
	margin-top: 10px;
	font-size: 1em;
	color: var(--bs-dark);
	line-height: 1.4;
	font-weight: 600;
	transition: var(--transition-default);
	margin-bottom: 5px;
	text-align: center;
	--line: 3;
}

.product-card .card-price .price-current {
	font-weight: 600;
	color: var(--bs-danger);
}

.product-card .card-price .price-cost {
	text-decoration: line-through;
	font-weight: 500;
	color: #9ba1a8;
}

.product-card:hover .card-image img {
	transform: scale(1.05);
}

.product-card:hover .card-title {
	color: var(--primary-color);
}

.footer {
	background-color: #f6f6f6;
	border-top: 1px solid var(--bs-gray-200);
}

.footer .footer-title {
	font-size: 1.15em;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--bs-gray-900);
	margin-bottom: 15px;
}

.footer .footer-list .footer-list_item .footer-list_item--link {
	color: var(--bs-gray-900);
	font-size: 1em;
}

.footer .footer-list .footer-list_item .footer-list_item--link > i {
	font-size: 1.075em;
	margin-right: 10px;
}

.footer .footer-list .footer-list_item .footer-list_item--link:hover {
	color: var(--primary-color);
}

.footer .footer-list .footer-list_item + .footer-list_item {
	margin-top: 14px;
}

.footer .footer-social {
	margin-top: 15px;
}

.footer .footer-social .footer-social_item .footer-social_item--link {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background: #fafafa;
	color: var(--bs-white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer .footer-social .footer-social_item .footer-social_item--link.footer-social_facebook {
	background-color: #0866FF;
}

.footer .footer-social .footer-social_item .footer-social_item--link.footer-social_twitter {
	background-color: #1DA0F1;
}

.footer .footer-social .footer-social_item .footer-social_item--link.footer-social_youtube {
	background-color: #ff0000;
}

.footer .footer-social .footer-social_item .footer-social_item--link.footer-social_google {
	background-color: #EA4335;
}

.footer .footer-social .footer-social_item .footer-social_item--link:hover {
	opacity: .7;
}

.footer .footer-copyright {
	color: #737373;
	font-size: 0.925em;
}

.footer .footer-logos img {
	height: 24px;
}

.footer .section-gap + .section-gap {
	padding-top: 0;
}

@media screen and (max-width: 991px) {
	.header-top {
		display: none;
	}

	.header-main {
		padding: 5px 0;
	}

	.header-main .header-logo img {
		height: 40px;
		max-width: 100%;
		object-fit: contain;
	}

	.header-main .header-search .header-search_hint a {
		margin-right: 4px;
		margin-top: 3px;
	}

	.header-main .header-language .header-language_btn {
		padding-left: 10px;
		-webkit-transition: var(--transition-default);
		-o-transition: var(--transition-default);
		transition: var(--transition-default);
	}

	.header-main .header-language .header-language_btn .header-language_btn__item {
		-webkit-box-shadow: 0 0 0.75em 0 rgba(0, 0, 0, 0.25);
		box-shadow: 0 0 0.75em 0 rgba(0, 0, 0, 0.25);
		border-radius: 50%;
	}

	.header-main .header-language .header-language_btn .header-language_btn__item img {
		height: 24px;
		width: 24px;
	}

	.header-main .header-language .header-language_list {
		background-color: var(--bs-white);
		min-width: 155px;
		-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
		-webkit-transition: var(--transition-default);
		-o-transition: var(--transition-default);
		transition: var(--transition-default);
		border-radius: 8px;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		pointer-events: none;
		top: calc(100% + 10px);
		right: 15px;
	}

	.header-main .header-language .header-language_list:before {
		position: absolute;
		content: "";
		display: block;
		top: -10px;
		background-color: var(--bs-white);
		left: 0;
		width: 100%;
		height: 10px;
	}

	.header-main .header-language:hover .header-language_list {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		top: calc(100% + 10px);
		right: 0;
	}

	.header-main .header-language .header-language_list .language-item {
		padding: 8px 15px;
		color: var(--bs-dark);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 8px;
	}

	.header-main .header-language .header-language_list .language-item img {
		height: 20px;
		width: 20px;
	}

	.header-main .header-language .header-language_list .language-item:hover {
		background: #f4f4f4;
	}

	.header-main .header-language .header-language_list .language-item.language-item_active {
		color: var(--primary-color);
		background: #f4f4f4;
	}

	.section-heading .section-heading_title {
		font-size: 1.15em;
	}

	.hero-slider {
		flex: 1 1 100%;
	}

	.hero-slider .slider-pagination {
		bottom: 5px;
	}

	.hero-slider .slider-pagination .swiper-pagination-bullet {
		width: 8px;
		height: 8px;
	}

	.featured-card {
		padding: 12px;
	}

	.featured-card .section-heading .section-heading_link > a > span {
		display: none
	}

	.featured-card .featured-list {
		flex-direction: column;
	}

	.featured-card .featured-list .featured-item {
		width: 100%;
	}
}

@media screen and (max-width: 575px) {
	.header-main .header-actions .header-users .header-user_item .link-default {
		font-size: .925em;
	}

	.header-main .header-actions .header-users .header-user_item + .header-user_item {
		margin-left: 6px;
		padding-left: 6px;
	}

	.header-main .header-actions .header-users .header-user_item + .header-user_item:before {
		font-size: 1em;
		line-height: 1;
		top: calc(50% - 2px);
	}

	.header-main .header-actions .header-users .header-user_item .link-default > i {
		display: none;
	}
}